doctype html
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/original.css')
    link(rel="icon", href="favicon.ico", type="image/x-icon")
  body
    #nav
      .menu
        #menu
          a(href='#'): i.fa.fa-bars
        a(href='/') Full List
        a(href='/try') My Try List
        a(href='/reviews') My Reviews 
        hr
        if !user
          a(href='/auth/google') Login with Google
        else
          //- var name = user.nickname || user.username || user.email;
          
          p #{user.email}
          a(href='/logout') Logout
    #main
      block content
    #hidden
      include review
    block scripts
      //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
      script(src='/js/humane.min.js')
      script(src='/js/index.js')

