html {
    -webkit-font-smoothing: antialiased;
}

body, html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    -webkit-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
    margin: 0;

    color: #222;
    font-family: 'Roboto', sans-serif; /* font */
    font-size: 1.5em;
}

body.menu-open {
    margin-left: 10em;
}

a {
    color: #3366aa;
}
a:visited {
    color: #3366aa;
}

#hidden, .hidden {
    display: none;
}

#nav {
    position: fixed;
    height: 100%;
}

.menu {
    position: absolute; 
    width: 10em;
    background-color: #ebebeb; /* color */
    z-index: 100;
    height: 100%;
    top: 0;
    right: 100%;
}

.menu a {
    display: block;
    padding: 0.2em 0.4em;
    text-decoration: none;
    margin-top: 0.3em;
}
.menu a:hover, .menu a:active {
    background-color: #ddd;
}

.menu p {
    margin: 0;
    padding: 0.2em 0.4em;
    font-size: 0.8em;
    word-wrap: break-word;
}
.menu hr {
    height: 1px;
    border: 0;
    margin: 12px 0.5em 9px 0.5em;
    color: #ccc;
    background-color: #ccc;
}

#main {
    margin-left: 0.4em;
}

h1 {
    font-size: 1.5em;
    margin: 1.5em 0 0.5em 0;
}

h4 {
    margin: 0.75em 0 0.25em 0;
}

a {
    display: inline-block;
    margin: 0;
    margin-right: 0.4em;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
a:active, a:hover {
    -webkit-transition: background-color 0s ease-out;
    -moz-transition: background-color 0s ease-out;
    -o-transition: background-color 0s ease-out;
    -ms-transition: background-color 0s ease-out;
    transition: background-color 0s ease-out;
}

a i {
    cursor: pointer;
}

p a {
    margin: 0;
}

p {
    margin-right: 0.4em;
}

p.alert {
    background-color: #ddddff; /* color */
    border: 1px solid blue; /* color */
    color: #444488; /* color */
    padding: 0.4em 0.6em;
}

#filter a {
    background-color: #ebebeb; /* color */
    padding: 0.3em 0.4em;
    border-radius: 8px;
    margin-bottom: 0.3em;
    font-size: 0.9em;
    text-decoration: none;
}

#filter a.active {
    background-color: #3366aa; /* color */
    color: white; /* color */
}

.country {
    padding: 0;
}

.whisky {
    line-height: 2em;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    -ms-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
.last-selected {
    background-color: #ddd; /* color */
    -webkit-transition:background 0s;
    -moz-transition:background 0s;
    -ms-transition:background 0s;
    -o-transition:background 0s;
    transition:background 0s;
}

.name {
    display: inline-block;
    font-size: 0.8em;
    margin-right: 5em;
    margin-top: 0.75em;
    line-height: 1em;
    vertical-align: top;
}

.controls {
    display: inline-block;
    position: absolute;
    right: 0;
}

i.fa {
    padding: 0.4em;
    padding-bottom: 0.3em;
    background-color: #ebebeb; /* color */
}
.controls i {
    font-size: 1.1em;
    padding: 0.2em;
}

#menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ebebeb; /* color */
    margin: 0;
    font-size: 1.3em;
}
#menu a {
    margin: 0;
    padding: 0;
}

#review {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

#review label {
    display: block;
    margin-top: 0.4em;
    font-size: 0.9em;
}

#review input, textarea {
    width: 100%;
    padding: 0.2em 0.3em;
    box-sizing: border-box;
    font-size: 0.8em;
    font-family: sans-serif;
}

#review textarea {
    height: 5em;
}

i.edit, i.add, i.remove {
    background-color: transparent;
    color: #ddd;
}
i.edit:hover {
    color: #FAE98E;
}
i.edit.lit {
    color: #FAD600;
}
i.add:hover {
    color: #A2DAFF;
}
i.add.lit {
    color: #0876FF;
}

#close {
    background-color: #ddd;
}

#review .fa {
    cursor: pointer;
    font-size: 0.8em;
    background-color: transparent;
    color: #ddd;
}
#review .fa-star.selected, #review .fa-star.lit {
    color: #FAD600; /* color */
}
#review .fa-star:hover {
    color: #FAE98E;
}
.lit {
    color: #FAD600; /* color */
}

#help .fa {
    background-color: transparent; /* color */
}

.review-controls button {
    display: inline-block;
    margin: 0.5em 0.5em 0 0;
    padding: 0.4em 0.6em;
    background-color: #3366bb; /* color */
    border: 0;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
}

.info {
    margin-bottom: 0.7em;
    color: #bbb;
    font-weight: bold;
}

#price-info {
    display: inline-block;
    float: right;
}

#table-info {
    display: inline-block;
}
